@import "navbar.css";
@import "sep.css";
@import "flowText.css";
@import "flowVid.css";

html,
body {
    padding: 10px 0;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    min-width: 1000px;
}

.bgimage {
    height: 800px;
    background-image: url(../images/background_test2.png);
    background-size: auto 700px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -100px 130px;
}

h1,
h2,
h3 {
    display: block;
    text-align: center;
    font-weight: bold;
}

.title {
    font-size: 300%;
    background-color: black;
    color: white;
    margin-top: 0%;
}

.header-image {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    transition: 0.3s ease;
}
.header-image:hover {
    transform: scale(1.02);
}

.container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.release {
    background: rgb(246, 246, 255);
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 3px 5px -3px rgba(0,0,0,0.3);
}

.cover {
    display: inline-block;
    width: 100%;
    
    transition: 0.3s ease;
}

.cover:hover {
    transform: scale(1.02);
}

.impressum {
    text-align: center;
    margin-top: 30px;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/firacode/static/FiraCode-Light.ttf')  format('truetype');
  }
@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/firacode/static/FiraCode-Bold.ttf')  format('truetype');
    font-weight: bold;
}

@media (max-width: 500px) {
    html,
    body {
        padding: 5px 0;
    }
}