/*-- scss:defaults --*/

/*-- layout --*/
$grid-sidebar-width: 300px !default;
$grid-body-width: 800px !default;
/* $grid-margin-width: 450px !default; */

/*-- font options --*/
$font-family-sans-serif: "Helvetica Neue", Arial, sans-serif !default;
