/* css styles */

/* .sidebar-logo {
  max-width: 80%;
  padding-left: 15%;
} */

.nav-item {
  padding-left: 25px;
  padding-right: 15px;
}

#quarto-header>nav {
  padding-left: 80px;
}

div.callout-tip.callout-titled .callout-icon::before {
  background-image: url('resources/icons/cli.svg');
  width: 25px;
}

/* enables the use of iframes for revealjs presentations */
iframe.reveal-demo {
  width: 100%;
  height: 700px;
  outline: none;
}

/* borders for anything */
.border {
  border: 1px solid #dee2e6;
}