/* css styles */

/* adjust box size and position of the sidebar logo */
div.mt-2 {margin-top: 0rem !important;}
div.pt-lg-2 {padding-top: 0rem !important;}
.sidebar-logo {
  max-width: 70%;
  padding-left: 0%;
}

/* adjust navbar */
.navbar {
  border:         none;
  padding-top:    .2rem;
  padding-bottom: .2rem;
}

/* adjust item separation */
.nav-item {
  padding-left: 1rem;
}

div.callout-tip.callout-titled .callout-icon::before {
  background-image: url('resources/icons/cli.svg');
  width: 25px;
}

/* enables the use of iframes for revealjs presentations */
iframe.reveal-demo {
  width: 100%;
  height: 700px;
  outline: none;
}

/* borders for anything */
.border {
  border: 1px solid #dee2e6;
}



/* ============================================================================
  Custom CSS for the cards on the index.qmd page
============================================================================ */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* On mouse-over, blur the image */
.card:hover .image {
  filter: blur(2px);
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;

}

/* On mouse-over, show description text over the image */
.text {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.card:hover .text {
  opacity: 1;
}

/* On mouse-over, put a dark overlay behind the text for better readability */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the alpha (last) value for darkness */
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.card:hover .overlay {
  opacity: 1;
}
/* ========================================================================= */



/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}