/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: "Arial", serif !default;

// colors


// headings
$presentation-heading-font: "Arial", serif !default;
$presentation-heading-color: #0065BD !default;

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
}