/* css styles */

.sidebar-logo {
  max-width: 80%;
  padding-left: 15%;
}

.nav-item {
  padding-left: 15px;
  padding-right: 15px;
}

div.callout-tip.callout-titled .callout-icon::before {
  background-image: url('resources/icons/cli.svg');
  width: 25px;
}

/* makes thumbnails in "Manuals & Examples" smaller and listing's body bigger */
div.quarto-post .thumbnail {
  flex-basis: 13%
}div.quarto-post .body {
  flex-basis: 62%
}