/* css styles */

.sidebar-logo {
  max-width: 80%;
  padding-left: 15%;
}

.nav-item {
  padding-left: 15px;
  padding-right: 15px;
}

div.callout-tip.callout-titled .callout-icon::before {
  background-image: url('resources/icons/cli.svg');
  width: 25px;
}

.lbsvg {
  background-color: red
}