/* css styles */

.navbar-logo {
    width: 70px;
    scale: 1.5;
}

.nav-item {
  padding-left: 15px;
  padding-right: 15px;
}

div.callout-tip.callout-titled .callout-icon::before {
  background-image: url('resources/icons/cli.svg');
  width: 25px;
}